MONGODB_URI=mongodb://localhost:27017
MONGODB_DB_NAME=deuxieme_main
JWT_SECRET=change_me_in_production
JWT_JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET=
AWS_REGION=auto
AWS_S3_ENDPOINT_URL=


